.drag {
  padding: 10px;
  text-align: center;
}

.images {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  padding: 10px;
  border-radius: 20px;
}

.test-button {
  margin-top: 50px;
}
